#==== Files and directories to ignore when building a Docker image for an Express Node.js application

#==== Node.js dependencies
node_modules

#==== Build artifacts
build
dist

#=== Logs
logs

#=== Environment variables
.env

#=== Development-specific files
npm-debug.log
yarn-debug.log
yarn-error.log

#=== Version control
.git
.gitignore

#=== Editor-specific files
.vscode
.idea

#=== Miscellaneous
.DS_Store
Thumbs.db